.change-password-container {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-evenly;
  width: 350px;
  border: 1px solid lightgray;
  align-items: center;
}

.change-password-main {
  display: flex;
  height: 76vh;
  align-items: center;
  justify-content: center;
}

